version: '3.8'
services:
  identity-service:
    build: ./apis/services/identity-service
    image: viridial/identity-service:latest
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=staging
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build: ./frontend
    image: viridial/frontend:latest
    ports:
      - "80:80"
    depends_on:
      - identity-service

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  search:
    image: getmeili/meilisearch:v1.2
    environment:
      MEILI_MASTER_KEY: "${MEILI_MASTER_KEY}"
    ports:
      - "7700:7700"
    volumes:
      - meili-data:/meili_data

volumes:
  db-data:
